{% extends "base.html" %}

{% block content %}
{% load static %}
<script src="{% static 'js/vendor/showdown.min.js' %}"></script>
<script src="{% static 'js/vendor/superagent.min.js' %}"></script>
<textarea name="title" id="title" cols="30" rows="1">Loading</textarea>
<div class='grid-x'>
    <div class='cell small-6'>
        <textarea name="textarea" id="editor" cols="80" rows="30">Loading...</textarea>
    </div>
    <div class='cell small-6'>
        <button type='button' class='button' style='float: right;' onclick=saveAndRedirect()>Save Changes</button>
        <span id='renderer'></span>
    </div>
</div>

<div>
    <select name="samples" id="samples" multiple="multiple"></select>
</div>

<script>
    var showdown = new showdown.Converter();
    var pathlist = window.location.pathname.split('/');

    var sock = new WebSocket("ws://" + window.location.host + "/ws/" + window.location.pathname.split('/').join('').replace(/[^a-z0-9+]+/gi, ''));

    sock.onmessage = function(e) {
        var elem = document.getElementById("editor");
        if (JSON.parse(e['data'])['code'] === 'conn') {
            sock.send(elem.value);
        } else {
            elem.value = JSON.parse(e['data'])['message'];
        }
        var elem = document.getElementById("editor");
        var elem2 = document.getElementById("renderer");
        elem2.innerHTML = showdown.makeHtml(elem.value);
    }

    function syncText() {
        var elem = document.getElementById("editor");
        sock.send(elem.value);
        var elem2 = document.getElementById("renderer");
        elem2.innerHTML = showdown.makeHtml(elem.value);
    }

    function render() {
        var elem = document.getElementById("editor");
        var elem2 = document.getElementById("renderer");
        elem2.innerHTML = showdown.makeHtml(elem.value);
    }

    var elem = document.getElementById("editor");
    elem.addEventListener('input', syncText);

    superagent.get('/api/topic/' + window.location.pathname.split('/')[3]).end((err, resp) => {
        if (err) {
            console.log(err);
            return;
        }
        var mod = JSON.parse(resp['text'])['topicBody'];
        var elem = document.getElementById("editor");
        elem.value = mod;
        elem = document.getElementById("title");
        elem.value = JSON.parse(resp['text'])['topicTitle'];
        elem = document.getElementById("samples");
        var alreadySelected = JSON.parse(resp['text'])['samples']
        superagent.get('/api/sample/getAllHashes').end((err, resp) => {
            if (err) {
                console.log(err);
                return;
            }
            var res = JSON.parse(resp['text']);
            console.log(res);
            for (const c in res['hashes']) {
                if (alreadySelected && alreadySelected.includes(res['hashes'][c])) {
                    console.log('ping');
                    elem.innerHTML += '<option value="'+ c + '" selected="">' + res['hashes'][c] + '</option>';
                } else {
                    elem.innerHTML += '<option value="'+ c + '">' + res['hashes'][c] + '</option>';
                }
            }
        });
       render();
    });
    render();

    function saveAndRedirect() {
        var loc = window.location.pathname.split('/')[3];
        var sampleArr = [];
        var samps = Array.from(document.getElementById('samples').selectedOptions);
        for (const k in samps) {
            sampleArr.push(samps[k].text);
        }
        superagent.post('/api/topic/' + loc).set('X-CSRFToken', '{{csrf_token}}').send({
            'topicBody' : document.getElementById('editor').value,
            'topicTitle' : encodeURIComponent(document.getElementById('title').value),
            'samples' : JSON.stringify(sampleArr)
        }).type('form').then( (err, resp) => {
            if (err) {
                console.log(err);
            }
            window.location.replace('/att');
        });

    }
</script>

{% endblock %}