{% extends "base.html" %}

{% block content %}
{% load static %}
<script src="https://cdn.jsdelivr.net/npm/superagent"></script>
<script src="{% static 'js/vendor/showdown.min.js' %}"></script>
<div class='grid-x'>
    <div class='cell small-6'>
        <textarea name="textarea" id="editor" cols="80" rows="30">Loading...</textarea>
    </div>
    <div class='cell small-6'>

        <button type='button' class='button' style='float: right;' onclick=saveAndRedirect()>Save Changes</button>
        <span id='renderer'></span>
    </div>
</div>



<script>
    var showdown = new showdown.Converter();
    var pathlist = window.location.pathname.split('/');

    var sock = new WebSocket("ws://localhost:8000/ws/" + window.location.pathname.split('/').join(''));
    console.log('added to ' + window.location.pathname.split('/').join(''));

    sock.onmessage = function(e) {
        var elem = document.getElementById("editor");
        //elem.value = e['data']['message'];
        console.log(JSON.parse(e['data']))
        if (JSON.parse(e['data'])['code'] === 'conn') {
            sock.send(elem.value);
        } else {
            elem.value = JSON.parse(e['data'])['message'];
        }
        var elem = document.getElementById("editor");
        var elem2 = document.getElementById("renderer");
        elem2.innerHTML = showdown.makeHtml(elem.value);
    }

    function syncText() {
        var elem = document.getElementById("editor");
        console.log("sending val");
        sock.send(elem.value);
        console.log("syncing view");
        var elem2 = document.getElementById("renderer");
        elem2.innerHTML = showdown.makeHtml(elem.value);
    }

    function render() {
        var elem = document.getElementById("editor");
        var elem2 = document.getElementById("renderer");
        elem2.innerHTML = showdown.makeHtml(elem.value);
    }

    var elem = document.getElementById("editor");
    elem.addEventListener('input', syncText);

    superagent.get('/api/sample/' + window.location.pathname.split('/')[3]).end((err, resp) => {
        if (err) {
            console.log(err)
        };
        var mod = JSON.parse(resp['text'])['{{ module }}'];
        var elem = document.getElementById("editor");
        elem.value = mod;
        render();
    });
    render();

    function saveAndRedirect() {
        console.log('hit');
        var loc = window.location.pathname.split('/')[3];
        console.log('api/sample/' + loc)
        superagent.post('/api/sample/' + loc).set('X-CSRFToken', '{{csrf_token}}').send({ '{{ module }}' : document.getElementById('editor').value}).type('form').then( (err, resp) => {
            if (err) {
                console.log(err);
            }
            window.location = '/sample/' + loc;
        });

    }
</script>
{% endblock %}
